<a href="https://colab.research.google.com/github/ha-yang1/Suzy-s-Memo/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC100%EC%A0%9C_50%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번  : 리스트의 삭제 (400,500 삭제 하세요)

In [ ]:
nums = [100, 200, 300, 400, 500]

# del nums[3] -> 리스트의 3번 요소를 삭제

# nums = nums[:3] -> 3번째까지 슬라이싱

#print(dir(nums)) -> nums에 사용할 수 있는 메소드 보여

nums.pop()
nums.pop()
nums

[100, 200, 300]

# 2번 : 리스트 내장함수 insert를 이용해서 [200, 100, 10000, 300] 출력

In [ ]:
l = [200, 100, 300]

l.insert(2, 10000) # 2번째에 10000을 삽입

print(l)

[200, 100, 10000, 300]

# 3번 : 변수의 type 확인

In [ ]:
l = [100, 200, 300]
print(type(l))
# print(dir(l))

<class 'list'>

# 4번 : 변수의 타입 2

In [ ]:
a = '''hello world'''

### 주석도 string type

print(type(a))

<class 'str'>

In [ ]:
a

'hello world'

# 5번 : for문 계산

In [ ]:
a = 10
b = 2
for i in range(1, 5, 2):
    a += i

print(a + b)

16

# 6번 : False (None, [], "", 0, bool(0))

In [ ]:
print(bool(" ")) # 공백이 들어가있으면 True
print(bool(""))
print(bool(["", ""]))
print(bool([]))
print(bool(None))

True
False
True
False
False

# 7번 : 변수명 (숫자가 맨앞에 오거나, 특수기호가 맨 앞이면 사용 불가, 띄어쓰기 X)

In [ ]:
한글 = 100
한글

100

In [ ]:
# 스네이크표기법
beautiful_is_better_than_ugly = 100

# 카멜표기법
beautifulIsBetterThanUgly = 100

# 8번 : 딕셔너리 키 이름 중복

In [ ]:

d = {'height':180, 'weight':78, 'weight':84, 'temparture':36, 'eyesight':1}

print(d['weight'])

84

In [ ]:
# 입력한 순서로 출력 (코랩)
print(d)

{'height': 180, 'weight': 84, 'temparture': 36, 'eyesight': 1}

In [ ]:
# 알파벳 순서로 출력 (코랩 버전에 따라서)
d

{'height': 180, 'weight': 84, 'temparture': 36, 'eyesight': 1}

In [ ]:
# 파이썬 코랩 버전
!python -V

Python 3.10.12

In [ ]:
d['weight'] = 1000
print(d)

{'height': 180, 'weight': 1000, 'temparture': 36, 'eyesight': 1, 'aa': 1000}

In [ ]:
d['aa'] = 1000
print(d)

{'height': 180, 'weight': 1000, 'temparture': 36, 'eyesight': 1, 'aa': 1000}

In [ ]:
d['bb'] = 1000
print(d)

{'height': 180, 'weight': 1000, 'temparture': 36, 'eyesight': 1, 'aa': 1000, 'bb': 1000}

In [ ]:
for i in d:
    print(i)

height
weight
temparture
eyesight
aa
bb

# 9번

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day)
print(hour, minute, second)

2019 04 26
11 34 27

In [ ]:
print(year, month, day, end=' ', sep='/')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

# 10번

```
    *
   ***
  *****
 *******
*********
```

In [ ]:
'''
4     1
3     3
2     5
1     7
0     9
n-i   2i-1
'''

n = 5
for i in range(1, n + 1):
    #print(n-i, 2*i-1)
    print((' ' * (n-i)) + ('*' * (2*i-1)))

    *
   ***
  *****
 *******
*********

# 11번

In [ ]:
s = 0

for i in range(1, 101):
    s += i

print(s)

5050

In [ ]:
'''
100 99  98  97  96 ...
1   2   3   4   5  ...
101 101 101 101 101 ...
'''
#n*(n+1)/2
100*(100+1)/2

5050.0

In [ ]:
type(range(10))
# range(start, stop, step)
print(list(range(10)))
print(list(range(5, 10)))
print(list(range(1, 10, 2)))
print(list(range(20, 10, -2)))
print(list(range(-10, 10, 2)))
print(list(range(1, 10, 2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[20, 18, 16, 14, 12]
[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

# 12번

In [ ]:
class Wizard:
    def __init__(self, health, mana, armor):
        self.health = health
        self.mana = mana
        self.armor = armor

    def __str__(self):
        return 'hello world'

    def attack(self):
        print('파이어볼')


x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [ ]:
print(type(x))
print(dir(x))
print(x)

<class '__main__.Wizard'>
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'armor', 'attack', 'health', 'mana']
hello world

# 13번

In [ ]:
행성 = ['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
사용자입력 = input('n번째 행성을 입력하세요.')
if 사용자입력.isnumeric():
    사용자입력 = int(사용자입력)
    if 사용자입력 >= 1:
        if 사용자입력 <= 8:
            print(행성[사용자입력-1])
        else:
            print('총 8개의 행성밖에 없습니다.')
    elif 사용자입력 == 0:
        print('0번째 행성은 없습니다.')
    else:
        print(행성[사용자입력])
else:
    print('숫자를 입력해주세요.')

n번째 행성을 입력하세요.20

IndexError: ignored

In [ ]:
행성[-1]

'해왕성'

In [ ]:
dir('abc')
'abc'.isnumeric()
'123'.isnumeric()

True

# 14번

In [ ]:
try:
    n = input('숫자를 입력하세요 : ')
    if '3' in n:
        print('짝')
    else:
        print(n)
except:
    print('숫자를 입력해주세요!')

숫자를 입력하세요 : 11
11

In [ ]:
30 in [10, 20, 30]

True

# 15번

In [ ]:
name = input('이름을 입력하세요 :')
age = 10

print('안녕하세요. 저는 ', name, '입니다.')
print('안녕하세요. 저는 {0}입니다. 제 나이는 {0}입니다.'.format(name, age))
print(f'안녕하세요. 저는 {name}입니다. 제 나이는 {age+age}입니다.')

이름을 입력하세요 :이호준
안녕하세요. 저는 이호준입니다.

# 16번

In [ ]:
문자열 = input()

print(문자열[::-1])

abc
cba

In [ ]:
s = ''
for i in 문자열:
    s = i + s
    print(s)

s
s.strip()

a
ba
cba

'cba'

In [ ]:
def 거꾸로(s):
    if len(s) == 1:
        return s
    else:
        return s[0] + 거꾸로(s[1:])

거꾸로(문자열)
'''
거꾸로('abc')       'a' + 거꾸로('bc')   'a' + 'b' + 'c'
거꾸로('bc')        'b' + 거꾸로('c')    'b' + 'c'
거꾸로('c')         'c'
거꾸로('abc')       거꾸로('bc') + 'a'   'c' + 'b' + 'a'
거꾸로('bc')        거꾸로('c') + 'b'    'c' + 'b'
거꾸로('c')         'c'
'''

'cba'

# 17번

In [ ]:
try:
    키 = int(input())
    if 키 >= 150:
        print('YES')
    else:
        print('NO')
except:
    print('숫자를 입력하세요!')

160
YES

# 18번

In [ ]:
data = sum(list(map(int, input().split())))//3
data

10 20 30

20

In [ ]:
list(map(lambda x:x**2, [10, 20, 30]))

[100, 400, 900]

In [ ]:
def 제곱(x):
    return x**2

list(map(제곱, [10, 20, 30]))

[100, 400, 900]

# 19번

In [ ]:
data = list(map(float, input().split()))
data[0] ** data[1]

2.3 3

12.166999999999998

# 20번

In [ ]:
data = list(map(float, input().split()))

data[0] // data[1], data[0] % data[1]

8 2

(4.0, 0.0)

In [ ]:
data = list(map(float, input().split()))

a = data[0] // data[1]
b = data[0] % data[1]

print(a,b)

8 3
2.0 2.0

In [ ]:
divmod(data[0], data[1])

(5.0, 0.0)

# 21번

In [ ]:
x = {1, 2, 3, 5, 6, 7}

In [ ]:
type(x)

set

In [ ]:
x = {1, 2, 3, 5, 6, 7, 7, 7, 7}
x

{1, 2, 3, 5, 6, 7}

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
a | b
a & b
a - b

{1, 2}

In [ ]:
x = {}

In [ ]:
type(x)

dict

In [ ]:
x = set('python')
x

{'h', 'n', 'o', 'p', 't', 'y'}

In [ ]:
x = set(range(5))
x

{0, 1, 2, 3, 4}

In [ ]:
x = set()
type(x)

set

### 파이썬은 사칙연산은 무조건 실수로 반환함

In [ ]:
print(10/2)

5.0

# 24번

In [ ]:
name = input('이름을 입력하세요 : ')
print(name.upper())

이름을 입력하세요 : leehojun
LEEHOJUN

### * 문자 <-> 숫자  아스키코드 변환

In [ ]:
print(ord('a'))
print(chr(97))
print(ord('a') - ord('A'))

97
a
32

In [ ]:
s = ''
for i in name:
    s += chr(ord(i) - 32)
s

'LEEHOJUN'

# 25번

In [ ]:
def 원의넓이(반지름):
    return (반지름 ** 2) * 3.14

반지름 = float(input('반지름을 입력하세요 :'))
원의넓이(반지름)

반지름을 입력하세요 :10

314.0

# 26번

In [ ]:
행성 = {
	'수성' : 'Mercury',
	'금성' : 'Venus',
	'지구' : 'Earth',
	'화성' : 'Mars',
	'목성' : 'Jupiter',
	'토성' : 'Saturn',
	'천왕성' : 'Uranus',
	'해왕성' : 'Neptune',
}

name = input()
행성[name]

수성

'Mercury'

In [ ]:
name = input()
행성.get(name, '값 없음')

은하수

'값 없음'

In [ ]:
행성한글 = ['수성', '금성', '지구',	'화성',	'목성',	'토성', '천왕성', '해왕성']
행성영어 = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

name = input()
행성영어[행성한글.index(name)]

해왕성

'Neptune'

In [ ]:
data = dict(zip(행성한글, 행성영어))

name = input()
data.get(name, '값 없음')

수성

'Mercury'

# 27번

In [ ]:
keys = input().split()
values = map(int, input().split())

result = dict(zip(keys, values))
result

one two
10 20

{'one': 10, 'two': 20}

In [ ]:
list(map(lambda x:x**2, [10, 20, 30]))

[100, 400, 900]

# 28번

In [ ]:
data = input()

for i in range(len(data) - 1):
    print(data[i]+data[i+1])

python
py
yt
th
ho
on

In [ ]:
data = input()

for i in range(1, len(data)):
    print(data[i-1]+data[i])

python
py
yt
th
ho
on

# 29번

In [ ]:
data = input()

# chr()
# ord()
if data.isupper():
    print('YES')
else:
    print('NO')

leehojun
NO

In [ ]:
data = input()

# chr()
# ord()
정상종료 = True
for i in data:
    if ord(i) >= 65 and ord(i) <= 90:
        continue
    else:
        정상종료 = False
        break
else:
    print('YES')
if not 정상종료:
    print('NO')

A
YES

In [ ]:
ord('A'), ord('Z')

(65, 90)

In [ ]:
words = input()

if words.isupper():
  print("대문자")
else:
  print("대문자가 아님")

a
대문자가 아님

# 30번

In [ ]:
data = input()
word = input()

print(data.find(word))

hello world
i
-1

In [ ]:
data = input()
word = input()

if word in data:
    print(data.find(word))

hello world
i

In [ ]:

data.index(word)

3

In [ ]:
data.find(word)

-1

In [ ]:
n = 100
s = 0
for i in range(101):
    s += i
s

5050

In [ ]:
n = 100
(n * (n + 1))/2

5050.0

# 32번

In [ ]:
data = '안녕하세요.             저는 제주대학교 컴퓨터공학전공 혜림입니다.'
splitdata = data.split(' ')
print(len(splitdata))


for i in range(splitdata.count('')):
  splitdata.remove('')

print(splitdata)

17
['안녕하세요.', '저는', '제주대학교', '컴퓨터공학전공', '혜림입니다.']

In [ ]:
splitdata.count('')

12

In [ ]:
company = [ 'A', 'B', 'C', 'D', 'A', 'A']

# 마지막 한 개만 남기고 싹 다 슬라이싱해서 del
for i in range(1,3):
  company.remove('A')

print(company)

['B', 'C', 'D', 'A']

In [ ]:
for i in range(splitdata.count('')):
    splitdata.remove('')

splitdata

['안녕하세요.', '저는', '제주대학교', '컴퓨터공학전공', '혜림입니다.']

# 33번

In [ ]:
data = input()

data = list(data.split(' '))
length = len(data) - 1
for i in range(length, -1, -1):
    print(data[i], end=' ')

10 20 30
30 20 10

In [ ]:
data = [10, 20, 30]
data[3]

# 34번

In [ ]:
data = [176, 156, 155, 165, 166, 169]

# data.sort()
sorted(data)

print(sorted(data))
print(data)

data.sort()
print(data.sort())

[155, 156, 165, 166, 169, 176]
[176, 156, 155, 165, 166, 169]
None

In [ ]:
data

[155, 156, 165, 166, 169, 176]

In [ ]:
입력 = input()

l = [float(i) for i in 입력.split(' ')]
l
if l != sorted(l):
    print('NO')
else:
    print('YES')

10 20 30
YES

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[f'{i} X {j} = {i*j}' for i in range(2, 10) for j in range(1, 10)]

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append(f'{i} X {j} = {i*j}')
l

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

# 35번

In [ ]:
def one(n):
    def two(value):
        return value**n
    return two

a = one(2)
b = one(3)
c = one(4)
print(a(10))
print(b(10))
print(c(10))

100
1000
10000

In [ ]:
호준 = print
호준('hello world')

hello world

# 36번

In [ ]:
단 = int(input())
for i in range(1, 10):
    print(단 * i, end=' ')

2
2 4 6 8 10 12 14 16 18

In [ ]:
단 = int(input())
s = ''
for i in range(1, 10):
    s += str(단 * i) + ' '
print(s)

2
2 4 6 8 10 12 14 16 18

# 37번

In [ ]:
a = [(0, 70), (1, 0), (2, 30), (3, 20)]

# key 없이 default
print(max(a))

# key를 사용한다면? 2번째 인자를 기준으로

print(max(a, key=lambda x : x[1]))

(3, 20)
(0, 70)

In [ ]:
# 원범 원범 혜원 혜원 유진 유진 유진 유진 혜원 혜원 혜원 혜원 혜원
# 혜원(이)가 총 4표로 반장이 되었습니다.

data = input().split()
data_set = set(data)
data_dict = {}
for key in data_set:
    data_dict[key] = data.count(key)

print(f'{max(data_dict, key=data_dict.get)}(이)가 총 {max(data_dict.values())}표로 반장이 되었습니다.')

원범 원범 혜원 혜원 유진 유진 유진 유진 혜원 혜원 혜원 혜원 혜원
혜원(이)가 총 7표로 반장이 되었습니다.

In [ ]:
data = [(1, 2, 9), (4, 5, 6), (0, 7, 8), (3, 1, 1)]

max(data)

(4, 5, 6)

In [ ]:
def 함수(x):
    return x[2]

max(data, key=함수)

(1, 2, 9)

In [ ]:
max(data, key=lambda x:x[2])

(1, 2, 9)

# 38번

In [ ]:
# 점수입력 : 97 86 75 66 55 97 85 97 97 95 95 95
# 점수입력 : 97 97 97 97 97
# 출력 : 8

In [ ]:
# 점수 전체 입력받기
data = list(map(int, input().split())) # map으로만 받아주면 1회성 데이터가 돼서 sorted 한번 거치고 나면 빈값이 되므로, 꼭 list로 변환해서 받아주어야 함
# [int(i) for i in data] : 리스트 컴프리헨션 (i에 반복적으로 int(i)를 적용할 수 있는 간단한 문법, int(i) for i in data if int(i) % 2 == 0 처럼 조건문도 사용 가능)

# 사탕 줄 사람 초기화
count = 0

# 내림차순 정렬 후에 4위 점수를 break point로 설정
break_point = sorted(list(set(data)), reverse=True)[3]

#
for i in sorted(data, reverse=True):
  if break_point == i :
    break
  else:
    print(i)
    count += 1
print(sorted(data, reverse=True))
print(count)

97 86 75 66 55 97 85 97 97 95 95 95
97
97
97
97
95
95
95
86
[97, 97, 97, 97, 95, 95, 95, 86, 85, 75, 66, 55]
8

In [ ]:
data = input().split()
data = [int(i) for i in data]

count = 0

if len(set(data)) <= 3:
    count = len(data)
else:
    break_point = sorted(list(set(data)), reverse=True)[3]

    data_sorted = sorted(data, reverse=True)
    for i in data_sorted:
        if break_point == i:
            break
        else:
            count += 1
count

97 86 75 66 55 97 85 97 97 95 95 95

8

# 39번

In [ ]:
'''
입력 : querty
출력 : euerty

입력 : hqllo my bamq is hyqwob
출력 : hello my bame is hyewob
'''

data = input()

data.replace('q', 'e').replace('b', 'n')

hqllo my bamq is hyqwob

'hello my name is hyewon'

In [ ]:
import re

data = re.sub('q', 'e', data)
print(re.sub('b', 'n', data))

hello my name is hyewon

In [ ]:
import re

re.sub('[0-9]+', '!', '123abc123')
re.sub('[a-z]+', '!', '123abc123')
re.sub('[a-z]', '!', '123abc123')

'123!!!123'

# 40번

In [ ]:
제한무게 = float(input())
친구수 = int(input())
친구몸무게 = []

for i in range(친구수):
    친구몸무게.append(float(input()))

전체몸무게 = 0
for i in range(친구수):
    전체몸무게 += 친구몸무게[i]
    if 전체몸무게 > 제한무게:
        print(i)
        break

30
5
10
10
10
10
10
3

In [ ]:
제한무게 = float(input())
친구수 = int(input())
친구몸무게 = []
전체몸무게 = 0
제한수 = 0
비교 = True

for i in range(친구수):
    친구몸무게.append(float(input()))
    전체몸무게 += 친구몸무게[i]
    if 전체몸무게 > 제한무게:
        if 비교:
            비교 = False
            제한수 = i

print(제한수)

30
4
10
10
10
10
3

In [ ]:
제한무게 = float(input())
친구수 = int(input())
친구몸무게 = []
전체몸무게 = 0
제한수 = 0
비교 = True

for i in range(친구수):
    친구몸무게.append(float(input()))
    전체몸무게 += 친구몸무게[i]
    if 전체몸무게 > 제한무게:
        if 비교:
            비교 = False
            제한수 = i
if 제한수 == 0 and 친구몸무게[0] <= 제한무게:
    print(len(친구몸무게))
else:
    print(제한수)

30
5
30
5
5
5
5
1

# 41번

In [ ]:
%%timeit

# 오답입니다. 히스토리 관리차 남겨둡니다.
x = 1223
for i in range(3, x):
    if x <= 1:
        print('소수가 아닙니다.')
        break
    elif x == 2:
        print('소수입니다.')
        break
    elif x % i == 0:
        print('소수가 아닙니다.')
        break
else:
    print('소수입니다.')

In [ ]:
x = 4
if x <= 1:
    print('소수가 아닙니다.')
elif x == 2:
    print('소수입니다.')
else:
    for i in range(2, x):
        if x % i == 0:
            print('소수가 아닙니다.')
            break
    else:
        print('소수입니다.')

소수가 아닙니다.

In [ ]:
x = 4
for i in range(2, x):
    if x <= 1:
        print('소수가 아닙니다.')
        break
    elif x == 2:
        print('소수입니다.')
        break
    elif x % i == 0:
        print('소수가 아닙니다.')
        break
else:
    print('소수입니다.')

소수입니다.

In [ ]:
%%timeit

def chech_prime(n):
    if n <= 1:
        return "NO"
    i = 2
    소수 = True
    while (i**2) < n:
        if n % i == 0:
            소수 = False
            break
        i += 1
    if 소수:
        return "YES"
    else:
        return "NO"

print(chech_prime(1223))

1. 244/1000000초
2. 104/1000000초

# 42번

In [ ]:
import datetime

date = datetime.datetime.today()
date

datetime.datetime(2021, 8, 28, 7, 21, 33, 20053)

In [ ]:
date.year

2021

In [ ]:
date.year, date.month, date.day, date.hour, date.minute, date.second, date.microsecond

(2021, 8, 28, 7, 21, 33, 20053)

In [ ]:
datetime.date(2021, 8, 28)

datetime.date(2021, 8, 28)

In [ ]:
datetime.date.today()

datetime.date(2021, 8, 28)

In [ ]:
datetime.date(2021, 9, 28) - datetime.date.today()

datetime.timedelta(days=31)

In [ ]:
datetime.date(2021, 8, 28).weekday()

5

In [ ]:
datetime.date(2021, 8, 28).isoweekday()

6

In [ ]:
m = int(input())
d = int(input())

def findDay(a, b):
    day = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
    return day[datetime.date(2021, a, b).weekday()]

print(findDay(m, d))

8
28
SAT

# 43번

In [ ]:
bin(13)

'0b1101'

In [ ]:
a = int(input())
b = []

while a:
    print(a)
    b.append(str(a % 2))
    a = int(a // 2)
print(b)
b.reverse()
print(''.join(b))

13
13
6
3
1
['1', '0', '1', '1']
1-1-0-1

In [ ]:
'''
01               10
01234567         10
0123456789       10
0123456789abcdef 10
'''

'\n01               10\n01234567         10\n0123456789       10\n0123456789abcdef 10\n'

# 44번

In [ ]:
data = input()

s = 0
for i in data:
    s += int(i)

s

123

6

# 45번

In [ ]:
import time

t = time.time()
t = t // (365*24*60*60) + 1970
print(int(t))

2021

# 46번

In [ ]:
s = ''

for i in range(1, 101):
    s += str(i)
s

'123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100'

In [ ]:
''.join([str(i) for i in range(1, 101)])

'123456789101112131415161718192021222324252627282930313233343536373839404142434445464748495051525354555657585960616263646566676869707172737475767778798081828384858687888990919293949596979899100'

In [ ]:
str(list(range(1, 101)))

'[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]'

In [ ]:
s = ''
합 = 0

for i in range(1, 101):
    s += str(i)

for i in s:
    합 += int(i)

합

901

In [ ]:
str(list(range(1, 10001))).count('8')

4000

# 47번

In [ ]:
people = [
         ('이호준', '01050442903'),
         ('이호상', '01051442904'),
         ('이준호', '01050342904'),
         ('이호준', '01050442903'),
         ('이준', '01050412904'),
         ('이호', '01050443904'),
         ('이호준', '01050442903'),
         ]

In [ ]:
len(set(people))

5

In [ ]:
set(people)

{('이준', '01050412904'),
 ('이준호', '01050342904'),
 ('이호', '01050443904'),
 ('이호상', '01051442904'),
 ('이호준', '01050442903')}

In [ ]:
d = {}
for i in people:
    d[i[1]] = i[0]
d

{'01050342904': '이준호',
 '01050412904': '이준',
 '01050442903': '이호준',
 '01050443904': '이호',
 '01051442904': '이호상'}

# 48번

In [ ]:
chr()
ord()

In [ ]:
a = input()
b = []

for i in a:
    if i.islower():
        b.append(i.upper())
    else:
        b.append(i.lower())

''.join(b)

aaabbbCCCDDD

'AAABBBcccddd'

In [ ]:
for i in b:
    print(i, end='')

AAABBBcccddd

# 49번

In [ ]:
data = list(map(int, input().split()))
data

1 2 3 1 10 9

[1, 2, 3, 1, 10, 9]

In [ ]:
sorted(data, reverse=True)[0]

10

In [ ]:
max(data)

10

# 50번

In [ ]:
def bubble(n, data):
	for i in range(n-1):
		for j in range(n-i-1):
			if data[j] > data[j+1]:
				data[j], data[j+1] = data[j+1], data[j]
	for i in range(n):
		print(data[i], end = " ")

n = int(input())
data = list(map(int, input().split()))

bubble(n, data)

5
5 1 4 3 2
1 2 3 4 5